/* @override http://localhost:3000/stylesheets/custom.css */
html {
	height: 100%;

}
body {
	height: 100%;
	padding:0;
	margin:0;
	background: url(/images/pattern4.png) repeat scroll 35px;
}
#header {
	padding:5px;
	background:rgba(245,245,245,0.75);
}

#user-nav {
	float: right;
}

#footer {
	width:100%;
  
}

#content {
	width: 100%;
	height: 100%;
	padding: 10px;
}

#sidebar {
	width: 25%;
	background: rgba(254,255,254,0.48);
	height: 100%;
	display: inline;
	float: right;
	padding: 10px;
}


#sidebar tbody tr:nth-child(odd) td, tbody tr.odd td {background: #d4dae8;}

#map_canvas {
	height: 100%;
	visibility: visible;
	width: 73%;
	float: left;
	border: 3px solid #6e6e6e;
}



