<h2>Available Assets</h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.name, asset, :remote => true %></td>

        <td><%= link_to 'Edit', edit_asset_path(asset), :remote => true %></td>
        <td><%= link_to 'Destroy', asset, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to 'New Asset', new_asset_path, :remote => true %>
