<!-- Import the markers from the databse into the app -->
<script>
  markers = <%= raw ActiveSupport::JSON.encode(@assets) %>
</script>

<div id="map_canvas"></div>

<div id="sidebar">
  <div id="asset_list">
    <%= render 'list' %>  
  </div>

  <%= link_to 'New Asset', new_asset_path %>

  <div id="edit_form"></div> 
</div>


